<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name ="amag-api-testing-assignment">

    <listeners>
        <listener class-name="apiautomation.utilities.Reporting" />
    </listeners>

    <test name ="API Test">
        <classes>
            <class name="apiautomation.TestCases.UserRegistrationTest"></class>
        </classes>
    </test>

</suite>